@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@1,900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
:root {
  --bg-gradient: linear-gradient(45deg, 
  #D40BAF,
  #C20BDE,
  #7E00C7,
  #5F0BDE,
  #2401D6
  );
}

body {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;

  background-image: var(--bg-gradient);
  background-size: 400%;
  background-position: left;
  animation: bg-animation 40s infinite alternate;
}





.content {
  height: 60vh;
  width: 900px;
  background-color: #1e0033;
  border-radius: 7px;
  box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.39);
  padding: 20px;
  display: flex;
}

.left {
  height: 100%;
  width: 70%;
  position: relative;
}

.right {
  height: 100%;
  width: 30%;
  justify-content: center;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

h1, span{
  font-size: 2.4rem;
  font-family: 'Montserrat', cursive;
  text-transform: uppercase;
}

h1 {
  position: absolute;
  top: 30%;
  transform: translate(0%, -50%);
  color: #a10087;
}

span.txtgradient {
  animation: bg-animation 10s infinite alternate;
  -webkit-background-clip: text;
  background-size: 400%;
  color: transparent;
  background-image: var(--bg-gradient);
}

p {
  font-family: 'Poppins', cursive;
  position: absolute;
  top: 70%;
  transform: translateY(-50%);

  color: #a10087;
  font-weight: bold;
}

.logo {
  height: 200px;
  width: 200px;
  background-image: var(--bg-gradient);
  border-radius: 50%;
  position: absolute;
  top: 10%;
  left:57%;
  transform: translateX(-50%);
}

a {
  position: absolute;
  top: 85%;
  right: 0;
  padding: 15px 30px;
  background-image: var(--bg-gradient);
  background-position: left;
  background-size: 500%;
  animation: bg-animation 10s linear infinite alternate;
  border-radius: 50px;
  display: flex;
  align-items: center;
  gap: 10px;
  transition: .3s;
  color: #000000;
  text-transform: uppercase;
  font-family: 'Montserrat';
  text-decoration: none;
}

a:hover {
  box-shadow: 10px 0 80px #6C0094, 0 10px 80px #6C0094;
}

@keyframes bg-animation {
  0% {background-position: left;}
  100% {background-position: right;}
}